extends layout

block content
  .row.mt-5
    .col-3
    .col-6
      h2 Hola, #{user.username}. Estas en modo #{user.role}.    
      hr
      if (user.role == 'admin')
        p Tenes control total.
      else 
        p Sos un usuario comun.
      hr                
    .col-3
  .row.mt-3
    .col-1
    .col-10
      hr
      table.table
        thead
          th Producto
          th Medicion
          th Valor
        tbody
          tr
            td Tomates
            td Temperatura
            td 25.3 ºC
          tr
            td Tomates
            td Humedad
            td 80 %     
      hr
    .col-1      
  .row.mt-3
    .col-3
    .col-6
      h4.text-center.mt-5
        a(href='/logout') Cerrar sesión
    .col-3          
