extends layout

block content
  .row.mt-5
    .col-3
    .col-6
      h2 Hola, #{user.username}. Estas en modo #{user.role}.                  
    .col-3
  if (user.role == 'admin')
    include crud.pug
  else
    p Usuario comun, no podes hacer ABMs  
  .row.mt-3
    .col-3
    .col-6
      h4.text-center.mt-5
        a(href='/logout') Cerrar sesión
    .col-3          
