extends layout

block content 
  .row
    nav(class='col-2 bg-light sidebar')
      if (user)
        .text-center
          h4.mt-2 Bienvenido, #{user.firstName}
          h6.text-muted #{user.role}
          hr
      ul.nav.flex-column
        li.nav-item
          a(class='nav-link' href='/dashboard/users') Usuarios
        li.nav-item
          a(class='nav-link' href='/dashboard/products') Productos  
        li.nav-item
          a(class='nav-link' href='#') Actuadores
        li.nav-item
          a(class='nav-link' href='#') Sensores
    main(class='col-10')
      if (showUsers && user.role == 'admin')
        include users.pug
      if (showProducts)
        include products.pug  
      
