extends layout

block content
  .row.mt-5
    .col-4
    .col-4
      h2.text-center Iniciar sesión
      .text-center
        a(href='/login') Login
      hr
      h5.text-center ¿No tenés cuenta?
      .text-center
        a(href='/signup') Registrarse
